@font-face {
  font-family: 'Weird';
  src: url('Weird.otf') format('opentype'),
}

@font-face {
  font-family: 'Unispace';
  src: url('Unispace.otf') format('opentype'),
}

@font-face {
  font-family: 'Grotesque';
  src: url('Grotesque.ttf') format('opentype'),
}
